<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexzheng.shijian" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveTimePage"
            android:label="@string/title_activity_save_time_page" >
        </activity>
        <activity
            android:name=".RecordTime"
            android:label="@string/title_activity_record_time" >
        </activity>
        <activity
            android:name=".HistoryPage"
            android:label="@string/title_activity_history_page" >
        </activity>
        <activity
            android:name=".SettingsPage"
            android:label="@string/title_activity_settings_page" >
        </activity>
        <activity
            android:name=".TimesPage"
            android:label="@string/title_activity_times_page" >
        </activity>
    </application>

</manifest>
